In [68]:
%matplotlib inline
import matplotlib as mpl
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import api_import 
import simplejson as json

In [69]:
yelp = pd.read_json("../data/yelp/yelp_api_data.json")
with open("../data/yelp/yelp_api_data.json") as fp:
    json1_str = fp.read() 
    yelp = json.loads(json1_str)
cuisine_types = yelp.keys()

In [95]:
#Load master dataframe
df = pd.read_json("../data/underserved_data.json")
df.head(3)

,ALAND,ALAND_SQMI,AWATER,AWATER_SQMI,BOROUGH,FRAC_LAND,GEOID,INTPTLAT,INTPTLONG,LATMAX,...,unweighed_average_rating_restaurants_italian,unweighed_average_rating_restaurants_japanese,unweighed_average_rating_restaurants_latin,unweighed_average_rating_restaurants_mexican,unweighed_average_rating_restaurants_newamerican,unweighed_average_rating_restaurants_puertorican,unweighed_average_rating_restaurants_tradamerican,unweighed_average_rating_restaurants_vegetarian,zillow_house_index,zillow_house_median
10001,346238,0.133,0,0.000,Manhattan,1.000000,72122017100,40.747402,-73.990328,81.498550,...,6.583333,6.483333,NaN,6.333333,7.708333,NaN,6.671429,8.250000,0,0
10002,2063151,0.797,1249217,0.482,Manhattan,0.622863,468793019212,40.715444,-73.984217,529.328659,...,26.770833,13.833333,14.200,15.000000,19.267974,NaN,22.375000,8.000000,0,0
10003,1097625,0.424,0,0.000,Manhattan,1.000000,288488038102,40.730343,-73.989634,325.855934,...,24.237179,30.475000,12.125,23.410256,29.725000,NaN,28.351190,26.233333,0,0

In [76]:
cuisine_type = "japanese"
deviation_linear = "dx_linear_"+cuisine_type
deviation_rf = "dx_rf_"+cuisine_type
feature_cuisine = "number_restaurants_"+cuisine_type
feature_cuisine_capita = "number_restaurants_capita_"+cuisine_type

In [77]:
df.sort(columns=feature_cuisine_capita, axis=0, 
        ascending=True, inplace=False, kind='quicksort', 
        na_position='last').head(20)[["pop_total",feature_cuisine,feature_cuisine_capita,"dx_rf_"+cuisine_type]]

,pop_total,number_restaurants_japanese,number_restaurants_capita_japanese,dx_rf_japanese
11693,12113,0,0,-0.210943
10470,23681,0,0,-0.041612
10468,86508,0,0,-0.284470
10467,94783,0,0,-0.285687
10466,50166,0,0,-0.041612
11370,41670,0,0,-0.506239
10459,64933,0,0,-0.119453
10457,61476,0,0,-0.041612
10456,83407,0,0,-0.140402
10455,49572,0,0,-0.129634
10454,39785,0,0,-0.156836
10453,74728,0,0,-0.041612
10452,79568,0,0,-0.092817
10451,11081,0,0,-0.080710
10304,34699,0,0,-0.124261
10301,24256,0,0,-0.079772
10199,6603,0,0,-0.339563
11411,14762,0,0,-0.041612
10472,68898,0,0,-0.092702
10473,58827,0,0,-0.072258

In [78]:
df.sort(columns=deviation_linear, axis=0, 
        ascending=True, inplace=False, kind='quicksort', 
        na_position='last').head(10)[["BOROUGH","pop_total",feature_cuisine,feature_cuisine_capita,"dx_linear_"+cuisine_type]]

,BOROUGH,pop_total,number_restaurants_japanese,number_restaurants_capita_japanese,dx_linear_japanese
10023,Manhattan,33547,10,0.875750,-2.461520
11201,Brooklyn,48383,8,0.711964,-2.129195
11230,Brooklyn,104719,5,0.387574,-1.863104
11219,Brooklyn,89567,2,0.197122,-1.796482
10025,Manhattan,89286,2,0.178291,-1.766295
10279,Manhattan,6111,4,0.670826,-1.730356
11217,Brooklyn,33504,9,0.924548,-1.657553
11218,Brooklyn,64567,1,0.115474,-1.556482
10028,Manhattan,13696,1,0.306679,-1.498793
11228,Brooklyn,53712,0,0.000000,-1.381975

In [81]:
df.sort(columns=deviation_rf, axis=0, 
        ascending=True, inplace=False, kind='quicksort', 
        na_position='last').head(10)[["BOROUGH","pop_total",feature_cuisine,feature_cuisine_capita,"dx_linear_"+cuisine_type]]

,BOROUGH,pop_total,number_restaurants_japanese,number_restaurants_capita_japanese,dx_linear_japanese
10019,Manhattan,28918,17,1.443616,-1.211844
10279,Manhattan,6111,4,0.670826,-1.730356
10023,Manhattan,33547,10,0.875750,-2.461520
11228,Brooklyn,53712,0,0.000000,-1.381975
10007,Manhattan,3776,2,3.451804,-0.473823
11363,Queens,7520,0,0.000000,-0.938486
10010,Manhattan,25240,19,2.084881,-0.084022
10028,Manhattan,13696,1,0.306679,-1.498793
10065,Manhattan,36486,10,1.270512,-1.070494
10119,Manhattan,1119,1,0.554834,-0.326713

In [80]:
print("R2_Linear = ",df["r2_linear_"+cuisine_type].unique()[0])
print("R2_RF = ",df["r2_rf_"+cuisine_type].unique()[0])
print("StdDev_Linear = ",df["stddev_linear_"+cuisine_type].unique()[0])
print("StdDev_RF = ",df["stddev_rf_"+cuisine_type].unique()[0])

('R2_Linear = ', 0.53502746210000007)
('R2_RF = ', 0.85859689700000008)
('StdDev_Linear = ', 5.2279502078000002)
('StdDev_RF = ', 2.8823473916999998)