In [96]:
%matplotlib inline
import matplotlib as mpl
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import api_import 
import simplejson as json

In [104]:
yelp = pd.read_json("../data/yelp/yelp_api_data.json")
with open("../data/yelp/yelp_api_data.json") as fp:
    json1_str = fp.read() 
    yelp = json.loads(json1_str)
cuisine_types = yelp.keys()
with open("../data/yelp/cuisine_types_enabled.dat","w") as fp:
    fp.write("\n".join(cuisine_types))

In [105]:
cuisine_types

['puertorican',
 'cuban',
 'latin',
 'mexican',
 'chinese',
 'vegetarian',
 'indpak',
 'japanese',
 'greek',
 'tradamerican',
 'newamerican',
 'italian']

In [108]:
food_dict = {"puertorico": "puertorican",
"puertorican": "puertorican",
"cuba": "cuban",
"cuban": "cuban",
"latin" : "latin",
"latino": "latin",
"mexican": "mexican",
"mex": "mexican",
"mexico": "mexican",
"chinese": "chinese",
"china": "chinese",
"veggie": "vegetarian",
"vegetarian": "vegetarian",
"indian": "indpak",
"india": "indpak",
"japan": "japanese",
"japanese": "japanese",
"greek": "greek",
"american": "tradamerican",
"modern": "newamerican",
"italy": "italian",
"italian": "italian"
}

In [112]:
food_dict

{'american': 'tradamerican',
 'china': 'chinese',
 'chinese': 'chinese',
 'cuba': 'cuban',
 'cuban': 'cuban',
 'greek': 'greek',
 'india': 'indpak',
 'indian': 'indpak',
 'italian': 'italian',
 'italy': 'italian',
 'japan': 'japanese',
 'japanese': 'japanese',
 'latin': 'latin',
 'latino': 'latin',
 'mex': 'mexican',
 'mexican': 'mexican',
 'mexico': 'mexican',
 'modern': 'newamerican',
 'puertorican': 'puertorican',
 'puertorico': 'puertorican',
 'vegetarian': 'vegetarian',
 'veggie': 'vegetarian'}

In [144]:
import string
with open("../app/static/dat/cuisine_types_enabled.dat") as fp:
    cuisine_types = fp.read()
cuisine_types = cuisine_types.split()
type(cuisine_types)
#cuisine_types = [string.capwords(x) for x in cuisine_types]
#cuisine_types = [x for x in cuisine_types]
#cuisine_types

list

In [120]:
with open("../data/yelp/cuisine_types_enabled.json","w") as fp:
    json.dump(food_dict,fp)

In [121]:
with open("../data/yelp/cuisine_types_enabled.json","r") as fp:
    cuisine_dict = json.load(fp)

In [95]:
#Load master dataframe
df = pd.read_json("../data/underserved_data.json")
df.head(3)

,ALAND,ALAND_SQMI,AWATER,AWATER_SQMI,BOROUGH,FRAC_LAND,GEOID,INTPTLAT,INTPTLONG,LATMAX,...,unweighed_average_rating_restaurants_italian,unweighed_average_rating_restaurants_japanese,unweighed_average_rating_restaurants_latin,unweighed_average_rating_restaurants_mexican,unweighed_average_rating_restaurants_newamerican,unweighed_average_rating_restaurants_puertorican,unweighed_average_rating_restaurants_tradamerican,unweighed_average_rating_restaurants_vegetarian,zillow_house_index,zillow_house_median
10001,346238,0.133,0,0.000,Manhattan,1.000000,72122017100,40.747402,-73.990328,81.498550,...,6.583333,6.483333,NaN,6.333333,7.708333,NaN,6.671429,8.250000,0,0
10002,2063151,0.797,1249217,0.482,Manhattan,0.622863,468793019212,40.715444,-73.984217,529.328659,...,26.770833,13.833333,14.200,15.000000,19.267974,NaN,22.375000,8.000000,0,0
10003,1097625,0.424,0,0.000,Manhattan,1.000000,288488038102,40.730343,-73.989634,325.855934,...,24.237179,30.475000,12.125,23.410256,29.725000,NaN,28.351190,26.233333,0,0

In [173]:
cuisine_type = "chinese"
deviation_linear = "dx_linear_"+cuisine_type
deviation_rf = "dx_rf_"+cuisine_type
feature_cuisine = "number_restaurants_"+cuisine_type
feature_cuisine_capita = "number_restaurants_capita_"+cuisine_type

In [174]:
df.sort(columns=feature_cuisine_capita, axis=0, 
        ascending=True, inplace=False, kind='quicksort', 
        na_position='last').head(20)[["pop_total",feature_cuisine,feature_cuisine_capita,"dx_linear_"+cuisine_type,"dx_rf_"+cuisine_type]]

,pop_total,number_restaurants_chinese,number_restaurants_capita_chinese,dx_linear_chinese,dx_rf_chinese
10301,24256,0,0.000000,-0.482253,-1.155074
10304,34699,0,0.000000,-0.786807,-1.266155
11451,0,0,0.000000,-0.095032,-0.254314
10153,279,0,0.000000,-0.764224,-0.560290
10069,26332,0,0.000000,-0.813061,-1.894180
11371,0,2,0.000000,0.131108,0.196406
10024,64742,2,0.250793,-1.364955,-1.635084
10457,61476,2,0.272504,-0.905288,-1.006165
11428,34882,1,0.286681,-0.226040,-1.220155
11203,58321,2,0.298784,-0.566218,-1.211804
10473,58827,2,0.319102,-0.760809,-0.690542
11413,29468,1,0.339351,-0.346163,-0.850541
11692,22383,1,0.361251,-0.397343,-0.630931
10030,19425,1,0.386574,-0.503370,-0.350058
11423,20351,1,0.392535,-0.158609,-0.452986
10308,20276,1,0.402071,-0.481460,-1.272783
10453,74728,4,0.414349,-0.940740,-0.233808
10474,12519,1,0.423036,-0.426962,-0.301908
11207,75225,4,0.424029,-0.482024,-0.233808
11426,22478,1,0.444879,0.383035,-0.645032

In [178]:
subdf = df.sort(columns=deviation_linear, axis=0, 
        ascending=True, inplace=False, kind='quicksort', 
        na_position='last').head(10)[["BOROUGH","pop_total",feature_cuisine,feature_cuisine_capita,"dx_linear_"+cuisine_type]]

In [179]:
zipcodes = [str(int(x)) for x in subdf.index.values.tolist()]

In [186]:
deviations = ["{0:<5.1f}".format(x).strip() for x in subdf["dx_linear_chinese"].tolist()]
dfsub = subdf

In [187]:
boroughs = dfsub.BOROUGH.tolist()
deviation = dfsub["dx_linear_"+cuisine_type]
deviations = ["{0:<5.1f}".format(x).strip() for x in subdf["dx_linear_"+cuisine_type].tolist()]
zipcodes = [str(int(x)) for x in subdf.index.values.tolist()]

In [190]:
zip(zipcodes,boroughs,deviations)

[('11377', u'Queens', '-3.8'),
 ('11373', u'Queens', '-3.4'),
 ('11219', u'Brooklyn', '-2.6'),
 ('11228', u'Brooklyn', '-2.5'),
 ('11364', u'Queens', '-2.5'),
 ('11358', u'Queens', '-1.9'),
 ('11230', u'Brooklyn', '-1.6'),
 ('11357', u'Queens', '-1.5'),
 ('10025', u'Manhattan', '-1.4'),
 ('10024', u'Manhattan', '-1.4')]

In [81]:
df.sort(columns=deviation_rf, axis=0, 
        ascending=True, inplace=False, kind='quicksort', 
        na_position='last').head(10)[["BOROUGH","pop_total",feature_cuisine,feature_cuisine_capita,"dx_linear_"+cuisine_type]]

,BOROUGH,pop_total,number_restaurants_japanese,number_restaurants_capita_japanese,dx_linear_japanese
10019,Manhattan,28918,17,1.443616,-1.211844
10279,Manhattan,6111,4,0.670826,-1.730356
10023,Manhattan,33547,10,0.875750,-2.461520
11228,Brooklyn,53712,0,0.000000,-1.381975
10007,Manhattan,3776,2,3.451804,-0.473823
11363,Queens,7520,0,0.000000,-0.938486
10010,Manhattan,25240,19,2.084881,-0.084022
10028,Manhattan,13696,1,0.306679,-1.498793
10065,Manhattan,36486,10,1.270512,-1.070494
10119,Manhattan,1119,1,0.554834,-0.326713

In [80]:
print("R2_Linear = ",df["r2_linear_"+cuisine_type].unique()[0])
print("R2_RF = ",df["r2_rf_"+cuisine_type].unique()[0])
print("StdDev_Linear = ",df["stddev_linear_"+cuisine_type].unique()[0])
print("StdDev_RF = ",df["stddev_rf_"+cuisine_type].unique()[0])

('R2_Linear = ', 0.53502746210000007)
('R2_RF = ', 0.85859689700000008)
('StdDev_Linear = ', 5.2279502078000002)
('StdDev_RF = ', 2.8823473916999998)